<!DOCTYPE html>
<html>
<head>
	<title>Vue 2</title>
</head>
<body>
	<div id="root">
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>

		<input type="text" id="input" v-model="newName">
		<!-- v-on = @ -->
		<button @click="addName">Add Name</button>
	</div>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
<script type="text/javascript">
	new Vue({
		el: '#root',
		data: {
			newName: '',
			names: ['Prakhar', 'Ankit', 'RIshabh', 'Manish']
		},
		methods: {
			addName() {
				this.names.push(this.newName);
				this.newName = '';
			}
		}
	})
</script>
</body>
</html>